body {
    background-color: rgb(243, 242, 242)
}

.text {
/*font-family: 'Shadows Into Light', cursive;*/
font-family: 'Shadows Into Light Two', cursive;
font-weight: bold;
/*font-family: 'Nothing You Could Do', cursive;*/
}

.jumbotron {
    background-color: black;
    max-height: 175px;
    background-image: url('https://media0.giphy.com/media/xNBcChLQt7s9a/giphy.gif?cid=790b76115ca783c035307238510bbff6')
}

.jmbtrntext {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bolder;
    color: white;
}

.btntext {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: bolder;
    color: white;
    outline: none;
    font-kerning: 4px;
}

#topicBtns {
    margin: 0 auto;
}

.giphylink {
    color: white;
}


